name: Tests
on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}

    steps:
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      -
        name: Check out code
        uses: actions/checkout@v3

      -
        name: Restore Go modules cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: go-${{ runner.os }}-${{ hashFiles('go.mod') }}
          restore-keys: |
            go-${{ runner.os }}-

      -
        name: Download dependencies
        run: go mod download

      -
        name: Run tests
        run: go test -race -timeout 30s ./cmd/hub/...

      -
        name: Build
        run: go build -v ./cmd/hub
